<table class="timetable-table">
    <thead>
        <tr>
            <th class="table-head-text">Project</th>
            {{range .Dates}}
            <th class="table-head-text">{{.Format "01/02"}}</th>

            {{end}}
        </tr>
    </thead>
    <tbody>
        {{range .Rows}}
        <tr>
            <!-- <td style="background: rgba({{.Color}}, 0.3)">{{.ProjectName}}</td> -->
            <td style="background: rgba({{.Color}}, 0.3)">{{.ProjectName}}</td>

            {{range .Cells}}
            <td {{if not .IsWeekday}}class="weekend"{{end}} >{{.Hours}}</td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
    <tfoot>
        <tr>
            <td class="table-head-text">Total</td>
            {{range .DailyTotals}}
            <td class="table-head-text" {{if not .IsWeekday}} style="color: red;" {{end}}>{{.Hours}}</td>
            {{end}}
        </tr>
    </tfoot>
</table>